body {
    font-family: 'Open Sans', sans-serif;
    background: chartreuse;
    font-weight: normal;
    font-size: 16px;
    margin: 0 auto;
}
h1 {font-family: 'Raleway', sans-serif;}
h2 {font-family: 'Raleway', sans-serif;}
h3 {font-family: 'Raleway', sans-serif;}
.wrapper{
    background: white;
    margin: 0%;
}

header {
    background: #ffc100;
}
nav {
    display: flex;
    justify-content: space-between;
}
.flexmenu1 {
    padding: 10px 20px;
}
.flexmenu2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
@media screen and (max-width: 1100px) {
    nav {
        display: flex;
        flex-direction: column;
    }
    .boxmenu1 {
        flex-direction: column;
        margin: 0%;
    }
    .flexmenu1 {
        margin: 0 auto;
    }
    .flexmenu1 img {
        max-width: 100%;
    }
    .flexmenu2 li{
        padding: 3px;
    }
}
@media screen and (max-width: 768px) {
    .flexcontainer1 {
        display: flex;
        flex-direction: column;
    }
}
nav ul {
    list-style-type: none;
    padding: 10px;
}
nav a {
    text-decoration: none;
    text-align: center;
    color: white;
    /* display: block; */
    padding: 3px 15px;
}
nav a:hover {
    background-color: #555;
}
h1 {
    font-size: 30px;
    line-height: 1.2em;
}
p {
    font-size: 16px;
    line-height: 1.2em;
}
li {

}

/* Section 1 ====================================== */
.flexcontainer1 {
    display: flex;
    flex-wrap: wrap;
}
.box1 {
    flex: 1 0 250px;
    box-sizing: border-box;
} 
.section1a {
    padding: 10px;
    margin: 0 auto;
    max-width: 512px;
}
.section1a img{
    width: 100%;
}
.section1b {
    padding: 10px;
}

/* Section 2 ====================================== */
.section2a {
    background: #ff9800;
    padding: 10px;
    color: white;
}

/* Section 3 ====================================== */
.flexcontainer3 {
    display: flex;
    flex-wrap: wrap;
}
.box3 {
    border: solid 2px black;
    flex: 1 0 250px;
    padding: 10px;
    box-sizing: border-box;
}
.box3 img {
    width: 100%;
}

/* Section 5 ====================================== */
.section5a {
    background: #01247e;
    padding: 10px;
    color: white;
    text-align: center
}
.flexcontainer5 {
    background: #01247e;
    color: white;
    display: flex;
    flex-wrap: wrap;
}
.box5 {
    flex-basis: 250px;
    padding: 20px;
    box-sizing: border-box;
    list-style-type: none;
}
.section5b {
    flex-grow: .5;
}
.section5c {
    flex-grow: 2;
}
.box5 li img {
    margin-top: 20px;
    max-width: 100%;
}

/* Section 6 ====================================== */
.section6a {
    text-align: center;
    padding: 0 20px;
}
.flexcontainer6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 10px;
}
.box6 {
    max-width: 250px;
}
.box6 img {
    width: 100%;
    margin-bottom: 10px;
}

/* Section 7 ====================================== */
.section7a {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
}
.section7b {
    margin: 0;
}
.flexcontainer7 {
    display: flex;
    flex-wrap: wrap;
    background-color: #f5f5f5;
    padding: 10px;
}
.box7 {
    flex: 1 0 225px;
    border: 1px solid black;
    padding: 10px;
    background: white;
    box-sizing: border-box;
}

/* Section 8 ====================================== */
.container8 {
    background: #f5f5f5;
    padding: 20px;
}
.section8b p {
    line-height: .5em;
}
.section8b li {
    list-style-type: none;
}

/* Section 9 ====================================== */
.flexcontainer9 {
    display: flex;
    flex-wrap: wrap;
    margin: 0%;
}
.section9a {
    padding: 20px;
}
table, th, td {
    border: 1px solid black;
}
.section9b {
    padding: 20px;
}
.box9 {
    box-sizing: border-box;
    flex: 1 0 250px;
}

/* Footer ====================================== */
footer {
    background: #3b4251;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}
footer h3 {
    color: white;
}
footer li {
    margin-bottom: 10px;
}
footer hr {
    border: 2px teal solid;
    margin-right: 20px;
}
.boxfooter1 {
    flex: 1 0 250px;
}

/* Contact form ====================================== */

#email {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
#message {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
